.form-content {
  width: 80vw;
}

.form-field {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.blog-body {
  background-color: #fff;
}

.blog-title {
  margin: 10px 0;
}

.blog-title_form {
  width: 500px;
  height: 25px;
}

.blog-category-new {
  margin: 20px 0;
  .category {
    width: 508px;
    height: 32px;
  }
}

.tag-box {
  margin: 20px 0;
  .tag-list_form {
    width: 500px;
    height: 25px;
  }
  .tag-list {
    display: flex;
    text-decoration: none;
    margin-bottom: 20px;
    .tag {
      text-decoration: none;
      margin-right:  30px; 
      font-size: 17px;
    }
  }
}

.images {
  margin: 10px 0;
}

.btn-count-box {
  display: flex;
  .actions {
    width: 50px;
    margin: 20px 0;
    .submit {
      border: 1px solid lightgrey;
      color: gray;
      background-color: #fff;
      font-size: 20px;
      border-radius: 10px;
    }
  }
  .count-length {
    margin: 27px 150px;
    font-size: 27px;
    font-family: "Cormorant Garamond", serif;
    color: deepskyblue;
  }
}

