.wrapper {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  .main-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    .blog-content {
      margin: 15px 0;
    }
  }
}

.new-post {
  margin-left: 35px;
  &:hover {
    color: #fff;
    background-color: skyblue;
  }
}

.img-fluid {
  width: 220px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover; 
}

.blog-body {
  margin: 10px 0;
  height: 500px;
  overflow: scroll;
}

.blog-box {
  border: 2px solid lightgray;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  font-family: "Cormorant Garamond", serif;
  .blog-image {
    margin: 5px 10px;
  }
  .blog-nav {
    margin: 5px 15px;
    .blog-time {
      margin: 10px 0;
      font-size: 15px;
    }
    .blog-title {
      font-size: 22px;
      padding: 8px 0;
      font-weight: bold;
    }
    .blog-tags {
      margin-top: 8px;
    }
  }
}