.wrapper {
  margin-top: 30px;
  width: clca(100vw - 20vw);
  display: flex;
  justify-content: center;
  // justify-content: space-between;
  flex-wrap: wrap;
  .main-content {
    display: flex;
    flex-direction: column;
    .blog-content {
      margin: 15px 0;
    }
  }
}

.new-post {
  margin-left: 35px;
  &:hover {
    color: #fff;
    background-color: skyblue;
  }
}

.img-fluid {
  width: 220px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover; 
}

.blog-body {
  margin: 10px 0;
  // overflow: scroll;
}

.blog-box {
  border: 2px solid lightgray;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  font-family: "Cormorant Garamond", serif;
  position: relative;
  .blog-image {
    margin: 5px 10px;
  }
  .blog-nav {
    margin: 5px 15px;
    .blog-time {
      margin: 10px 0;
      font-size: 15px;
    }
    .blog-title {
      font-size: 22px;
      padding: 5px 0;
      font-weight: bold;
      line-height: 1.3em;
    }
    .blog-category {
      margin: 15px 0;
    }
    .blog-tags {
      margin-top: 5px;
    }
    .blog-user {
      color: deepskyblue;
      font-size: 20px;
      position: absolute;
      right: 25px;
      bottom: 15px;
    }
  }
}

.pagenate{
  text-align: center;
}