.blog-show {
  margin: 5px 15px;
  border-bottom: 2px solid lightgray;
  .blog-title {
    margin: 30px 0;
    font-size: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
  }
  .blog-info {
    display: flex;
    margin: 30px 0 ;
    border-bottom: 2px solid lightgray;
    .blog-time {
      margin-right: 30px;
    }
    .blog-tags {
      padding-bottom: 5px;
    }
  }
}
.nav-box {
  display: flex;
  margin: 25px;
  font-size: 20px;
  a {
    margin: 0 30px;
  }

}