.side-contents {
  margin: 0 20px;
  // background-color: whitesmoke;
  // width: calc(100vw - 75vw);
  .search-box {
    margin-top: 20px;
    height: 100px;
    background-color: #fff;
    // border: 2px solid snow;
    border: 1px solid lightgray;
    border-radius: 10px;
    .search-comment {
      margin: 10px 0 0 20px;
      font-size: 20px;
      color: gray;
    }
    .search_form {
      margin: 10px 0 0 17px;
      position: relative;
      .search-input {
        border: 2px solid lightgray;
        border-radius: 10px;
        height: 23px;
        background-color: whitesmoke;
      }
      .search-icon {
        color: steelblue;
        position: absolute;
        right: 27px;
        top: 9px;
      }
    }
  }

  .profile-box {
    margin: 20px 0;
    height: 450px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  
}

@media screen and (max-width:920px) {
  .side-contents {
    width: calc(100vw - 25vw);
  }
  .search-input {
    width: 70vw;
  }
}

.submit {
  background-color: #fff;
  border: none;
}  