// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: snow;
}

header {
  .header-box {
    display: flex;
    justify-content: space-around;
    .nav {
      display: flex;
      margin-top: 25px;
      .admin-name {
        font-size: 22px;
        color: skyblue;
        font-family: "Cormorant Garamond", serif;
      }
      .admin-logout {
        font-size: 15px;
      }
    }
  }
}

h1 {
  font-family: "Cormorant Garamond", serif;
  color: deepskyblue;
  font-size: 35px;
  letter-spacing: .1em;
}

.header-contents {
  border-bottom: 2px solid lightgray;
  margin-bottom: 50px;
  .header-img {
    width: 100vw;
    height: 150px;
    object-fit: cover;
  }
  
  .header-list {
    display: flex;
    justify-content: space-around;
    li {
      font-size: 23px;
      font-family: "Cormorant Garamond", serif;
    }
  }
}

footer {
  margin-top: 150px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  background-color: lightslategray;
  .top {
    margin: 20px 0;
    height: 22px;
    background-color: white;
  }
  .footer-box {
    height: 40px;
    .footer_title {
      color: white;
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// paginate
.pagination{
  margin: auto;
  color: deepskyblue;
  display: flex;
  justify-content: center;
}
.pagination span{
  text-align: center;
  width: 60px;
  margin: 5px;
  transition: .3s;
  transform: scale(1);
}
.pagination span:hover{
  transition: .3s;
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  transform: scale(1.1);
}
span {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}