// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: snow;
  // background-color: #F7F7F7;
}

header {
  .header-box {
    display: flex;
    justify-content: space-around;
    .nav {
      display: flex;
      margin-top: 25px;
      .admin-name {
        font-size: 22px;
        color: skyblue;
        font-family: "Cormorant Garamond", serif;
      }
      .admin-logout {
        font-size: 15px;
      }
    }
  }
}

h1 {
  font-family: "Cormorant Garamond", serif;
  color: deepskyblue;
  font-size: 35px;
  letter-spacing: .1em;
}

.header-contents {
  border-bottom: 2px solid lightgray;
  margin-bottom: 50px;
  .header-img {
    width: 100vw;
    height: 150px;
    object-fit: cover;
    // background-image:url("IMG_6258.png");
    margin-left: -8px;
  }
  
  .header-list {
    display: flex;
    justify-content: space-around;
    li {
      font-size: 18px;
      
    }
  }
}

footer {
  margin-top: 50px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  .top {
    margin: 20px 0;
  }
  .footer_title {
    color: deepskyblue;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}