// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-contents {
  // background-color: #FFF;
  border: 1px solid snow;
  border-radius: 20px; 
  .category-parent {
    padding: 20px 0;
    .parent {
      font-size: 25px;
    }
  }
}

.parent-name {
  font-size: 25px;
  color:gray;
  margin: 10px 0;
  text-align: center;
}