// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-contents {
  border: 1px solid snow;
  border-radius: 20px; 
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  .category-parent {
    width: 22vw;
    padding: 95px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px 5px;
    background-color:white;
    text-align: center;
    .parent {
      font-size: 30px;
    }
  }
}

.parent-name {
  font-size: 25px;
  color:gray;
  margin: 10px 0;
  text-align: center;
}