= render "blogs/header"

.wrapper
  .category-contents
    - @parents.each do |parent|
      .category-parent
        = link_to "#{parent.name}", parent_category_path(parent), class: "parent"

  -# = render 'blogs/side'

= render "blogs/footer"